html,
body {
  height: 100%;
  @extend %ProximaNova400;
  font-size: 16px;
  line-height: 30px;
  overflow-x: hidden;
}
a{
  color:$Grey;
}
ul{
  marker: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #F5F5F5;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
 
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
p{
  color:$Dark;
}

h1{
  @extend %ProximaNova600;
  font-size: 40px;
  line-height: 48px;
  color:$Dark;
}

h2{
  @extend %ProximaNova600;
  font-size: 30px;
  line-height: 40px;
  color:$Dark;
}

h3{
  @extend %ProximaNova600;
  font-size: 26px;
  line-height: 34px;
  color:$Dark;
}

h4{
  @extend %ProximaNova600;
  font-size: 20px;
  line-height: 28px;
  color:$Dark;
}
h5{
  @extend %ProximaNova600;
  font-size: 19px;
  line-height: 24px;
  color:$Dark;
  
}

h6{
  @extend %ProximaNova400;
  font-size: 17px;
  line-height: 24px;
  color:$Dark;
  
}


.btn{ 
  background-color:$Yellow;
   @extend %ProximaNova600;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  display: flex;
   border:none;
   border-radius: 8px;
  //  height: 36px;
  //  width: 145;
  text-align: center;
  align-items: center;

  & p{
    padding-left: 10px;
  }

&__wrap{
display: flex;
padding: 11px 20px;
    }

}

*::-webkit-scrollbar {
width: 6px;
}

*::-webkit-scrollbar-track {background: $Light;}

*::-webkit-scrollbar-thumb {
background-color: $Grey-light;
border-radius: 0px;
border: none;
}

