%ProximaNova300{
   font-family: "ProximaNova-Light", sans-serif;
    font-weight: 300;
    
}


%ProximaNova400{
   font-family: "ProximaNova-Regular", sans-serif;
    font-weight: 400;
    
}

%ProximaNova600{
   font-family: "ProximaNova-Semibold", sans-serif;
    font-weight: 600;
    
}





$Yellow:#FFBC57;
$Light:#F8F8F8;
$Grey-light:#B1B1B1 ;
$Grey:#535353;
$Dark:#2B2929;
