@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

/*header*/

.header {
  background-color: #fff;
  //   height: 220px;
  color: $Grey;
}
.header__inner-top {
  border-bottom: 2px solid $Light;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  text-align: center;
}

.header-top__left {
  &-list {
    display: flex;
  }

  &-item + .header-top__left-item {
    padding-left: 30px;
  }
}

.header-top__right {
  display: flex;
  position: relative;
  padding-right: 80px;

  &-help {
    display: flex;

    &_img + .header-top__right-help_img {
      padding-left: 10px;
    }

    &_img:first-child {
      padding-left: 20px;
    }
  }
}

.translate {
  padding-left: 30px;

  cursor: pointer;
  position: absolute;
  right: -5px;
  top: -10px;

  &__wrap {
    padding: 10px 5px;
    transition: all 0.3s ease;

    &--active {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 0px 15px 0px #0000001f;
      color: $Yellow;

      & h5 {
        text-shadow: 0px 4px 4px #0000001f;
      }
    }
  }

  &__title {
    display: flex;
  }

  &__toggle__wrap {
    padding-top: 12px;

    display: none;

    &--active {
      display: flex;
    }
  }
}

.header-top__container {
  transition: all 0.3s ease;

  &:hover {
    background-color: #e3e2e2;
  }
}

.header-middle {
  height: 100px;
  width: 1290px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &__icon {
    padding-right: 30px;
    height: 50px;
    width: 250px;
  }
}
.btn-img-katalog {
  display: block;
  &--active {
    display: none;
  }
}
.btn-img-katalog-close {
  display: none;
  &--active {
    display: block;
  }
}
.header-middle__katalog{
 transition: all 0.4s ease;
}
.header-middle__katalog-wrap{
  transition: all 0.4s ease;
}
.catalog {
  display: none;
 transition: all 0.4s ease;

&--active{
 
  display: block;
  
}
  &__wrap {
    position: relative;
     min-height: auto;
   
  }
}

.catalog__list {
  width: 300px;
 

  z-index: 1000;

  position: absolute;
  background-color: rgb(255, 255, 255);
 
  border-radius: 8px 0px 0px 8px;
  box-shadow: 0px 0px 15px 0px #0000001f;

  right: -15px;
  top: 37px;

  padding: 8px 0;
  margin: 8px 0;
   

  &-links-item {
    &:hover{
      
    }
    border-right: 5px solid #FFBC57;
    padding: 10px 0 10px 30px;
    transition: all 0.2s ease;
    & path {
      transition: all 0.2s ease;
    }
    & a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--right {
      display: flex;
      align-items: center;
      color: $Dark;
    }

    &--left {
      display: flex;
      display: flex;
      flex-direction: column;
    }

    &--img {
      margin-right: 10px;
    }

    &:hover {
      
      background-color: $Yellow;
     
      & path {
        fill: #fff;
      }
    }
  }
}



.catalog__flyouts {
  // display: none;
  position: absolute;
   min-width: 320px;
 
  min-height: 100%;

  z-index: 1000;

  position: absolute;
  background-color: rgb(255, 255, 255);
  // display: flex;
  border-radius: 0px 8px 8px 0px;
  // box-shadow: 0px 0px 15px 0px #0000001f;
padding: 8px 0;
 left:100%;
 top: 0px;
 &--active{
  display: block;
 }
 &__item{
    padding: 10px 20px 0 30px;
  
 }

 &__item-list{ 

  & a{
    
    font-size: 19px;
    line-height: 40px;
    transition: all 0.2s ease;
    &:hover{
      color:$Yellow;
    }
  }
 }
 
 


 

}
.catalog__list-links-item:hover>.catalog__flyouts{
display: block;
}
.catalog__flyouts{
  display: none;
  &--active{
    display: block;
  }
}




.header-bottom-wrap--active-kat,
.main--active-kat,
.footer--active-kat {
  z-index: 999;
  filter: blur(2.5px);
  background: rgba(27, 26, 26, 0.8);
}

.header-middle__serch {
  padding-left: 30px;
  // padding-right: 30px;
  position: relative;
}

.header-middle__serch2 {
  width: 411px;
  height: 50px;
  border: 1px solid $Grey-light;
  border-radius: 7px;

  &::placeholder {
    padding-left: 10px;
    color: $Grey-light;
    position: relative;
  }
}

.header-middle__serch3::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../../images/header/poisk.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 10px;
  right: 15px;
}

.header-middle__tel {
  & a {
    transition: all 0.3s linear;

    &:hover {
      color: $Yellow;
    }
  }

  &--img {
    padding-right: 10px;
  }

  &-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    width: 270px;
    padding: 20px 0 25px;
    transition: all 0.3s ease;

    // padding: 20px;

    &--active {
      position: relative;
      top: 42px;
      left: 0;

      background-color: rgb(255, 255, 255);

      border-radius: 8px;
      box-shadow: 0px 0px 15px 0px #0000001f;
    }

    &--onetel {
      //  width: 230px;
      height: 50px;
      display: flex;
      align-items: center;
      //  padding: 0 24px 0 20px;
    }
    &--maxtel {
      flex-direction: column;
      align-items: satar;
      padding-left: 60px;
      display: none;
      &--active {
        display: flex;
      }
    }
  }
  & p {
    font-size: 13px;
    line-height: 22px;
  }

  & a {
    @extend %ProximaNova600;
    font-size: 20px;
    line-height: 28px;
    color: #000;
  }

  &--icon {
    width: 24px;
    height: 24px;
    margin-left: 15px;
  }
  & button {
    @extend %ProximaNova600;
    color: $Yellow;
    font-size: 20px;
    line-height: 28px;
  }
}

.header-middle__menu {
  display: flex;
  justify-content: space-between;
  //  padding-left: 30px;
}

.header-middle__menu--like {
  padding-right: 20px;
}

.icon-like,
.icon-card {
  & path {
    transition: all 0.4s ease;
  }

  & circle {
    transition: all 0.4s ease;
  }
}

.icon-like:hover,
.icon-card:hover {
  & path {
    fill: #fff;
  }

  & circle {
    fill: $Yellow;
  }
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  @extend %ProximaNova600;
  font-size: 19px;
  line-height: 24px;
}

.header-bottom__left {
  &-list {
    display: flex;
  }

  &--item {
    display: flex;

    & a {
      display: flex;
    }

    & img {
      padding-right: 10px;
    }
  }
}

.header-bottom__left--item + .header-bottom__left--item,
.header-bottom__right--item + .header-bottom__right--item {
  padding-left: 30px;
}

.header-bottom__right--item {
  display: inline;
}

/*footer*/

.footer {
  background-color: $Dark;
  color: $Light;

  & a {
    font-size: 17px;
    line-height: 24px;
    color: $Light;
  }

  &__items {
    display: grid;

    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0 80px;

    padding: 40px 0;
  }
}

.footer__sochial {
  grid-row: 2;
  margin-left: 0;

  &__links {
    padding-bottom: 20px;
  }

  &__link,
  .footer__sochial__messenger__links {
    display: flex;

    & a + a {
      padding-left: 15px;
    }
  }

  &__messenger {
    padding-bottom: 40px;
  }

  &__card {
    display: flex;

    & img + img {
      padding-left: 20px;
    }
  }
}

.footer__info,
.footer__categori,
.footer__client,
.footer__contact {
  grid-row: span 2;
}

.footer__items {
  & h4 {
    pointer-events: none;
  }
}

.footer__contact {
  @extend %ProximaNova600;
  font-size: 20px;
  line-height: 28p;

  & img {
    padding-right: 15px;
  }

  &__tel {
    display: flex;
    align-items: start;

    &-number {
      display: flex;
      flex-direction: column;
    }

    padding-bottom: 30px;

    & button {
      color: $Yellow;
    }
  }

  &__adress {
    display: flex;
    padding-bottom: 30px;
  }

  &__calengar {
    display: flex;
  }
}

.copiraght {
  border-top: 2px solid #3d3d3d;
  height: 63px;
  text-align: center;
  line-height: 63px;
  @extend %ProximaNova400;
  font-size: 15px;
  color: $Grey-light;
}


.swiper {
  width: 600px;
  height: 300px;
}

@import "media";
